/*Colorscheme: gruvbox (https://github.com/morhetz/gruvbox)*/
body {
/*	background-color: #282828;*/
	background-color:#000000;
	padding-bottom: 50px;
	padding-left: 30px;
	display: grid;
  	justify-content: center;
  	align-items: center;
	overflow:hidden;
}
h1 {
	color:#ebdbb2;
	text-align: center;
}

.h2top h2 {
	color:#ebdbb2;
	text-align: center;
}

.border {
	border-style:double;
	width:770px;
	height:600px;
	border-color:#861657;
	border-width:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom: 10px;
	margin-top:30px;
	background-color:#7D84B2;
	display:flex;
	
}
.scrollbox {
	display:grid;
	justify-content:center;
	align-items: center;
	overflow:auto;
	width:670px;
	height:600px;
}
.inbord {
	border-style:inset;
	border-color: #458588;

	/*background-color:#ebdbb2;*/
	background-color:#dda77b;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	color:#3c3836;
	font-family:"Courier";
	display:grid;
	max-width:660px;
	
}
h2 {
	text-align: center;
}
p{
	margin:10px;
	white-space:pre-wrap;
}
img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	width: 50%;
	text-align: center;
}
button {
	border-style:groove;
	border-color:#7D84B2;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color:#282828;
}
.butt{
	text-align:center;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
video {
	border-style:inset;
	border-color: #458588;
	background-color:#ebdbb2;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	color:#3c3836;
	

}
iframe {
	border-style:inset;
	border-color: #458588;
	background-color:#ebdbb2;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	color:#3c3836;
	

}
.navbar {
	
	width: 100px;
	height:600px;
	background-color: #5B639A;
	overflow: hidden;
	top:0;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  max-width:100px;
  border-style:groove;
  border-color:#7D84B2;
  color: #ebdbb2;
  text-decoration: none;
  font-size: 17px;
  overflow:hidden;
}
.navbar a:hover {
  background-color: #7D84B2;
}
.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

a {
	text-align: center;
}

@font-face{
	font-family"Courier"
	src:url("https://github.com/SBB-50/SBB-50.github.io/raw/refs/heads/main/Courier%20New.ttf")format("tff");
}
figure {
  border: none;
  display: flex;
  flex-flow: column;
  padding: 5px;
  min-width:200px;
  max-width: 220px;
  margin: auto;
}


figcaption {
  background-color: #222222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
