/*Colorscheme: gruvbox (https://github.com/morhetz/gruvbox)*/
body {
	background-color: #282828;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px
}
h1 {
	color:#ebdbb2;
	text-align: center;
}

.h2top h2 {
	color:#ebdbb2;
	text-align: center;
}

.border {
	border-style:double;
	border-color:#98971a;
	border-width:10px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom: 20px;
}
.inbord {
	border-style:inset;
	border-color: #458588;
	border-radius:10px;
	background-color:#ebdbb2;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	color:#3c3836;
	font-family:"Courier";
	
}
h2 {
	text-align: center;
}
p{
	margin:10px;
	white-space:pre-wrap;
}
img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius: 4px;
	padding: 5px;
	width: 50%;
	text-align: center;
}
button {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
.butt{
	text-align:center;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
video {
	border-style:inset;
	border-color: #458588;
	border-radius:10px;
	background-color:#ebdbb2;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	color:#3c3836;
	

}
iframe {
	border-style:inset;
	border-color: #458588;
	border-radius:10px;
	background-color:#ebdbb2;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	color:#3c3836;
	

}
.navbar {
	width: 100%;
	background-color: #1d2021;
	overflow: auto;
	top:0;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #ebdbb2;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #282828;
}
.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}



@font-face{
	font-family"Courier"
	src:url("https://github.com/SBB-50/SBB-50.github.io/raw/refs/heads/main/Courier%20New.ttf")format("tff");
}

